# IDE
.vscode
.idea

# Git
.git/
.gitignore
.gitkeep

# Docker
Dockerfile
docker-compose.y*ml
.dockerignore

# Documentation
## Doxygen
docs/Doxygen/html
docs/Doxygen/man
docs/Doxygen/Doxyfile

# Others
**/CMakeCache.txt
functional_tests
unit_tests
maestro