# IDE
.vscode
.idea

# Git
.gitignore
.gitkeep

# Docker
Dockerfile
docker-compose.y*ml
.dockerignore

# Documentation
## Doxygen
docs/Doxygen/html
docs/Doxygen/man
docs/Doxygen/Doxyfile

# Build cache
third_parties/*/build/
third_parties/*/install/

# Others
**/CMakeCache.txt
functional_tests
unit_tests
maestro